.section-update {
    /* padding: 0 3.2rem; */
  
    & .container {
      /* background-color: #fff; */
      padding-top: 3.2rem;
      align-items: center;
    }
    img {
      width: 80%;
      height: auto;
    }
  
    & .update-form {
      & label {
        display: block;
        margin: 2.4rem 0 0.8rem 0;
        text-transform: capitalize;
      }
      & input {
        width: 80%;
        padding: 0.6rem 0.6rem;
      }
  
      & button {
        margin-top: 3.2rem;
      }
    }
  }
  
  .adminNav ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .adminContainer {
    display: grid;
    padding-top: 0;
    grid-template-columns: 1fr 3fr;
  }
  
  .adminList {
    flex-direction: column;
    list-style-type: none;
  }
  
  .adminList li {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
  }
  
  .validation-error{
    color: red;
  }
  