.forgot-password-form-container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.1);
    margin-bottom: 90px;
    margin-top: 20px;
  }
  
.forgot-password-form-container .form-group {
    margin-bottom: 20px;
  }
  
.forgot-password-form-container label {
    display: block;
    margin-bottom: 15px;
    margin-top: 5px;
  }
  
.forgot-password-form-container input{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .forgot-password-form-container h2 {
    display: flex;
    justify-content: center;
  }
  
.forgot-password-form-container button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;   
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 15px;
  }
  
.forgot-password-form-container button:hover {
    background-color: #0056b3;
  }
  
.error-message {
    font-size: medium;
    color: red;
    margin-top: 2px;
}